<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--<connectionStrings>
		<add name ="RConnString"
		providerName="System.Data.Sqlite"
	connectionString="Data Source= C:\project1\R1\App_Data\RVEST_V1.DB"/>
	</connectionStrings>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
